/* Custom CSS */
h1,h2,h3,h4 {
  font-family: 'Kaushan Script', cursive;
}
.font-primary {
  font-family: 'Kaushan Script', cursive;
}
.font-secondary {
  font-family: 'Raleway', sans-serif;
}
.bg-black {
  background: #111;
}
.text-yellow {
  color: yellow;
}

.navbar .navbar-brand {
  height: 70px;
}
.navbar .navbar-brand img {
  height: 100%;
}

/* banner */
.masthead {
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.masthead .caption-wrapper {
  margin-top: 10rem;
}
.masthead .hero-text {
  font-size: 3rem;
}
.masthead .tagline {
  font-size: 20px;
}

/* about us */
#about-us .info-img {
  background: url("../img/about.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
}
#about-us .info-about {
  padding: 1rem;

}
